---
import Social from "./Social.astro"
---
<footer>
    <a href="https://github.com/Motues">GitHub</a>
    <a href="mailto:2901987286@qq.com">Mail</a>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
    a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    }
</style>
